<!DOCTYPE html>
<html>
  <head>
  Organizers only zone
  </head>
  <body>
  <hr />

  <% if signed_in? %>
  
      <div class="btn-group">
     <%= link_to "Database", current_user %><br /><br />
      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %> 
    </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <%end%>
  </body>
</html>