<!DOCTYPE html>
<html>
  <head>
  Organizers only zone
  </head>
  <body>
  <hr />
  <%= link_to "Sign in", new_user_session_path %>

  <% if signed_in? %>
  
      <div class="btn-group">
      <button type="button" class="btn-danger"><%= link_to "Database", current_user %></button>
      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %> 
    </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <%end%>
  </body>
</html>