<!DOCTYPE html>
<html>
  <head>
  Organizers only zone
  </head>
  <body>
  <hr />
  <%= link_to "Sign in", new_user_session_path %>

  <% if signed_in? %>
  
      <div class="btn-group">
      <button type="button" class="btn"><%= link_to "Database", users_path %></button>
    </div>
    <%end%>
  </body>
</html>