<header>
<table>
     <tr>
      <td>Name</td>
      <td>College</td>
      <td>email</td>
      <td>phone</td>
      <td>2 days Accomodation</td>
      <td>3 day Accomodation</td>
      <td>Miss Diva</td>
      <td>Couture</td>
      <td>Mr&Miss Exodia</td>
      <td>instrumania</td>
      <td>bandslam</td>
      <td>idol</td>
      <td>groove</td>
      <td>synchronians</td>
      <td>big stink</td>
      <td>apptitude</td>
      <td>Wind up troy</td>
      <td>junkyard</td>
      <td>dementia</td>
      <td>Discover image science</td>
      <td>quick thesis</td>
      <td>electrowar</td>
      <td>circuit</td>
      <td>Decode to encode</td>
      <td>Line follower</td>
      <td>Sumo wars</td>
      <td>Arcad</td>
      <td>Nitro blaze</td>
      <td>hoverace</td>
      <td>Biggest liar</td>
      <td>Devil's advocate</td>
      <td>Game of words</td>
      <td>Survivor</td>
      <td>Fray</td>
    </tr>
</table>
</header>